body {
    background-color: #3B3751;
    margin: 48px 0;
}

.site-background {
    width: 1248px;
    height: 1000px;
    background-image: url(../images/background-image.png);
    background-size: 1248px 1000px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 20px 28px rgba(0, 0, 0, 0.2);
}

.checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 32px;
    top: 22px;
    z-index: 9999;
}

.checkbox:hover { cursor: pointer; }

.active-checkbox {
    opacity: 1 !important;
}

.active-checkbox .selected-state {
    opacity: 1;
}

.row {
    position: absolute;
    background-size: 1184px 56px;
    left: 64px;
}

.selected-state {
    background-size: 1184px 56px;
    width: 1184px;
    height: 56px;
    opacity: 0;
}

.row_1 { top: 280px; }
.row_2 { top: 336px; }
.row_3 { top: 392px; }
.row_4 { top: 448px; }
.row_5 { top: 504px; }
.row_6 { top: 560px; }

.row_1 .selected-state { background-image: url(../images/Row_1.png); }

.row_2 .selected-state { background-image: url(../images/Row_2.png); }

.row_3 .selected-state { background-image: url(../images/Row_3.png); }

.row_4 .selected-state { background-image: url(../images/Row_4.png); }

.row_5 .selected-state { background-image: url(../images/Row_5.png); }

.row_6 .selected-state { background-image: url(../images/Row_6.png); }

.table-header-activated {
    background-image: url(../images/table-header-actived.png);
    background-size: 1184px 40px;
    width: 1184px;
    height: 40px;
    position: absolute;
    left: 64px;
    top: 240px;
    display: none;
}

.table-header-activated.active-table-header { display: block; }

.translator-box,
.cell-reviewer-box {
    display: inline-block;
    position: absolute;
    width: 138px;
    height: 56px;
    background-size: 138px 56px;
    background-image: url(../images/cell-hover-translator.png);
    opacity: 0;
    z-index: 1;
}

.translator-box {
    left: 557px;
    top: -1px;
}

.cell-deadline-box {
    left: 697px;
    top: -1px;
}

.cell-deadline-r-box {
    right: 66px;
    top: -1px;
}

.cell-more-box {
    display: inline-block;
    position: absolute;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-image: url(../images/cell-more.png);
    opacity: 0;
    z-index: 1;
    top: 12px;
    right: 32px;
}

.cell-status-box {
    display: inline-block;
    position: absolute;
    width: 59px;
    height: 24px;
    background-size: 59px 24px;
    background-image: url(../images/status-hover.png);
    opacity: 0;
    z-index: 1;
    top: 16px;
    left: 389px;
}

.translator-box:hover,
.cell-deadline-box:hover,
.cell-reviewer-box:hover,
.cell-deadline-r-box:hover,
.cell-more-box:hover,
.cell-status-box:hover,
.export-box:hover {
    opacity: 1;
    cursor: pointer;
}

.active-popout {
    background-image: url(../images/popover-default.png);
    width: 399px;
    height: 336px;
    background-size: 399px 336px;
    position: absolute;
    left: 126px;
    top: -8px;
}

.active-checkbox .active-popout {
    opacity: 1;
    background-image: url(../images/popover-row.png) !important;
    width: 399px;
    height: 368px;
    background-size: 399px 368px;
}

.cell-deadline-box,
.cell-deadline-r-box {
    display: inline-block;
    position: absolute;
    width: 142px;
    height: 56px;
    background-size: 142px 56px;
    background-image: url(../images/cell-hover-deadline.png);
    opacity: 0;
    z-index: 1;
}

.cell-reviewer-box {
    left: 838px;
    top: -1px;
}

.set-deadline-popout {
    background-image: url(../images/set-deadline.png);
    width: 687px;
    height: 492px;
    background-size: 687px 492px;
    position: absolute;
    right: 136px;
    top: -213px;
}

.active-checkbox .set-deadline-popout {
    opacity: 1;
    background-image: url(../images/set-deadline-selected.png) !important;
    width: 687px;
    height: 492px;
    background-size: 687px 492px;
}

.set-more-popout {
    background-image: url(../images/popover-more.png);
    width: 276px;
    height: 327px;
    background-size: 276px 327px;
    position: absolute;
    right: -25px;
    top: 24px;
}

.active-checkbox .set-more-popout {
    background-image: url(../images/popover-more-selected.png);
    width: 276px;
    height: 327px;
    background-size: 276px 327px;
    position: absolute;
    right: -25px;
    top: 24px;
}

.set-reviewer-popout {
    opacity: 1;
    background-image: url(../images/popover-reviewer.png) !important;
    width: 399px;
    height: 336px;
    background-size: 399px 336px;
    right: 126px;
    top: -8px;
    position: absolute;
}

.active-checkbox .set-reviewer-popout {
    opacity: 1;
    background-image: url(../images/popover-reviewer-selected.png) !important;
    width: 399px;
    height: 368px;
    background-size: 399px 368px;
}

.set-status-popout {
    opacity: 1;
    background-image: url(../images/popover-status.png) !important;
    width: 262px;
    height: 464px;
    background-size: 262px 464px;
    left: 64px;
    top: -25px;
    position: absolute;
}

.active-checkbox .set-status-popout {
    opacity: 1;
    background-image: url(../images/popover-status-selected.png) !important;
    width: 262px;
    height: 464px;
    background-size: 262px 464px;
}

.export-box {
    display: block;
    width: 44px;
    height: 24px;
    position: absolute;
    top: 8px;
    left: 241px;
}

.set-export-popout {
    opacity: 1;
    background-image: url(../images/export-selected.png) !important;
    width: 231px;
    height: 239px;
    background-size: 231px 239px;
    left: -92px;
    top: 24px;
    position: absolute;
    z-index: 1;
}