$color-martinique: #3b3751;
$color-white: #ffffff;
$color-neutral-0: #FAFAFD;
$color-neutral-100: #ECECF2;
$color-neutral-200: #D8D7E2;
$color-neutral-400: #AEABBE;
$color-tangelo: #F47623;
$color-dodger: #178CF6;

$sizing-base: 8px;
$sizing-16: $sizing-base * 2;
$sizing-24: $sizing-base * 3;
$sizing-32: $sizing-base * 4;
$sizing-40: $sizing-base * 5;
$sizing-48: $sizing-base * 6;
$sizing-72: $sizing-base * 9;

$box-shadow: 0px 4px 8px rgba(59, 55, 81, 0.08);

$transition-default: all 0.3s linear;

@font-face {
    font-family: 'Bariol Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bariol Regular'), url('../assets/fonts/bariol_regular-webfont.woff') format('woff');
    }


@font-face {
    font-family: 'Bariol Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Bariol Bold'), url('../assets/fonts/bariol_bold-webfont.woff') format('woff');
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: $color-neutral-0;
    color: $color-martinique;
}

a {
    color: $color-dodger;
    
    &:hover {
        text-decoration: underline;
        color: darken($color-tangelo, 10%);
    }
}

header {
    background-color: #2d2a3d;
    padding: $sizing-16;
    height: 64px;

}

.header-logo {
    display: inline-block;
    width: 110px;
    height: 32px;
    background-image: url(../assets/logo.svg);
}

h1 {
    font-family: 'Bariol Bold', sans-serif;
}

h2 {
    font-family: 'Bariol Bold', sans-serif;
    font-size: 28px;
}

.update-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: $sizing-24;
}

.container-page-title {
    background-color: $color-martinique;
    color: $color-white;
    padding: $sizing-72 0;
    margin-bottom: $sizing-72;
}

.container-project {
    padding: $sizing-24;
    margin: $sizing-40 0;
    background-color: $color-white;
    box-shadow: $box-shadow;
    border-radius: $sizing-base;
    transition: $transition-default;

    &:hover {
        transition: $transition-default;
        box-shadow: 0px 12px 16px rgba(59, 55, 81, 0.08);
    }

    time {
        font-size: 14px;
        color: $color-neutral-400;
        display: inline-block;
        margin-bottom: $sizing-base;
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    li {
        padding: 0;
        list-style-type: none;
        margin-right: $sizing-16;
        padding-right: $sizing-16;
        border-right: solid 1px $color-neutral-200;

        &:last-child { 
            margin-right: 0;
            border-right: none;
        }
    }
}
