$color-martinique: #3b3751;
$color-white: #ffffff;
$color-neutral-0: #FAFAFD;
$color-neutral-100: #ECECF2;
$color-neutral-200: #D8D7E2;
$color-neutral-400: #AEABBE;
$color-tangelo: #F47623;
$color-dodger: #178CF6;

$sizing-base: 8px;
$sizing-16: $sizing-base * 2;
$sizing-24: $sizing-base * 3;
$sizing-32: $sizing-base * 4;
$sizing-40: $sizing-base * 5;
$sizing-48: $sizing-base * 6;
$sizing-72: $sizing-base * 9;

$box-shadow: 0px 4px 8px rgba(59, 55, 81, 0.08);

$transition-default: all 0.3s linear;

body {
    font-family: 'Roboto Mono', sans-serif;
    background-color: $color-neutral-0;
    color: $color-martinique;
}

header {
    height: 280px;
    display: flex;
    flex-direction: column;
    margin-bottom: $sizing-72;
    background-color: $color-white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
}

.header-memoq {
    background-color: $color-martinique;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-memoq {
    display: inline-block;
    width: 111px;
    height: 32px;
    background-image: url(../assets/logo-memoq.svg);
}

.header-container {
    width: 640px;
    margin: 0 auto;
}

.content-container {
    width: 640px;
    margin: 0 auto;
}

.logo-blog {
    display: inline-block;
    width: 557px;
    height: 140px;
    background-image: url(../assets/blog-header-v1.svg);
    margin: 40px auto 0;
}

.post {
    margin-bottom: $sizing-48;
    padding-bottom: $sizing-48;
    border-bottom: solid 1px $color-neutral-200;

    &:last-child {
        border-bottom: none;
    }

    a { 
        text-decoration: underline; 
        color: $color-tangelo;

        &:hover {
            text-decoration: none;
        }
    }

    time {
        color: $color-neutral-400;
        font-size: 14px;
    }

    .postTitle {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: $sizing-24;

        a {
            color: $color-martinique;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    p {
        font-size: 16px;
        line-height: 28px;
    }

}