$color-brand-martinique: #3b3751;
$color-white: #ffffff;
$sizing-base: 8px;
$sizing-16: $sizing-base * 2;
$sizing-24: $sizing-base * 3;
$sizing-32: $sizing-base * 4;
$sizing-40: $sizing-base * 5;

@font-face {
    font-family: 'Bariol Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bariol Regular'), url('../assets/fonts/bariol_regular-webfont.woff') format('woff');
    }


@font-face {
    font-family: 'Bariol Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Bariol Bold'), url('../assets/fonts/bariol_bold-webfont.woff') format('woff');
}

body {
    font-family: 'Rubik', sans-serif;
}

header {
    background-color: $color-brand-martinique;
    padding: $sizing-16;
}

.header-logo {
    display: inline-block;
    width: 136px;
    height: 40px;
    background-image: url(../assets/logo.svg);
}

h1 {
    font-family: 'Bariol Bold', sans-serif;
}