<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/layout-blog.css">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="header-memoq">
        <a href="https://memoq.com" target="_blank" class="logo-memoq"></a> 
      </div>
      <a class="logo-blog" href="/"></a>
    </header>
    <div class="content-container">
        {{ content }}
    </div>
  </body>
</html>
